/vendor/
node_modules/
npm-debug.log
yarn-error.log
.idea
/.vscode
.phpunit.result.cache

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
storage/*.key
.env
.env.backup
Homestead.yaml
Homestead.json
/.vagrant
/public/hot
/public/storage
/public/build
/public/css
/public/js
/public/mix-manifest.json
