.button:focus {
  @apply .outline-none;
}

.button {
  @apply .rounded-full;
}

.button-pink {
  @apply .bg-peachy-pink .text-white .font-bold .p-4;
}

.button-pink:hover {
  @apply .bg-peachy-pink-dark;
}

.button-pink:disabled {
  @apply .bg-grey .cursor-default;
}

.button-white {
  @apply .bg-grey-lighter .font-bold .text-black .p-4;
}

.button-white:hover, .button-logout:hover {
  @apply .bg-grey;
}

.button-logout {
  @apply .bg-grey-lighter .font-light .text-black .px-4 .py-2 .ml-2;
}

.input {
  @apply .bg-grey-lighter .rounded-full .p-2;
}

.input:focus {
  @apply .outline-none .border-grey .border-2;
}

.label {
  @apply .font-semibold .text-sm .text-grey-dark;
}

.textarea {
  @apply .bg-grey-lighter .rounded-xl .p-2 .resize-none .min-h-48;
}

.textarea:focus {
  @apply .outline-none .border-grey .border-2;
}

.card {
  @apply .flex .flex-col .border-2 .border-peachy-pink .rounded-lg .p-4 .mb-4;
}

.card-title {
  @apply .text-lg;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
